body {
    color: white;
    background-color: black !important;
    text-align: center;
    margin: 0;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
div, iframe {
    text-align:left;
}
p {
    color: white;
}